
.App {
    padding: var(--mashroom-portal-spacing-default, 10px);

    table {
        width: auto;

        th {
            text-align: left;
        }
    }
}

.Error {
    color: var(--mashroom-portal-color-error, red);
}
